* {
  font-family: "Montserrat", sans-serif;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
  padding-left: 50px;
}

.sidebar {
  display: flex;
  height: 200vh;
  float: left;
  overflow: 'scroll initial';
}

.side-container {
  padding-top: 30px;
}

.side-row {
  padding: 0 15px;
}

.side-col {
  padding: 3% 10% 3% 10%;
}

.react-bootstrap-table thead {
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 1021;
  color: white;
}

.apexchart {
  position: sticky;
  top: 0;
}

.custom-navbar {
  background-color: rgb(158, 185, 221) !important;
}

.custom-navbar .navbar-brand {
  color: white !important;
}

.custom-navbar .navbar-brand img {
  filter: brightness(0) invert(1);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c9d6ff;
  min-width: 100%;
}

.login-container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 568px;
  max-width: 100%;
  min-height: 490px;
  font-size: 20px;
  text-align: center;
}

.login-container form {
  background-color: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.login-container input {
  background-color: #eee;
  border: none;
  margin: 9px 0;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.login-container button {
  background-color:#a1afdf;
  color: #d9dadb;
  font-size: 20px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.login-container label {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 10px;
  color: #333;
}

.login-container h1 {
  font-weight: bolder;
  color: #6e84ce;
  margin-top: 20px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.login-container h2 {
  font-weight: bolder;
  color: #a1afdf;
  margin-top: 20px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.login-container section {
  margin: 20px;
}

.custom-navbar {
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.ml-auto {
  display: flex;
  width: 80%;
  padding: 0 7%;
}

.ml-auto .mr-sm-2 {
  flex: 1;
  margin: 10px;
}

.ml-auto button {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  color: black;
  flex-shrink: 0;
  box-shadow: 0 4px 15px rgb(116, 124, 199);
}
.ml-auto .mr-sm-2 {
  box-shadow: 0 4px 15px rgb(116, 124, 199);
}

.custom-navbar .app-logo {
  font-size: 28px;
  text-shadow: 0 5px 15px rgb(62, 75, 194);
  font-weight: bolder;
}

.sidebar {
  text-shadow: 0px 2px 4px rgb(93, 107, 126);
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.35);
}

.table-responsive th,td{
  text-align: center;
  vertical-align: middle;
}

.update-user-modal {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo atenuado */
}
